<div>
  {% if section.settings.title != blank %}
    <!-- <header class="section-header text-center">
     <h2>{{ section.settings.title | escape }}</h2>
    </header>-->
  {% endif %}

  {%- assign blog = blogs[section.settings.blog] -%}

  {% unless blog.empty? %}
    <div class="row clearfix home-blog">
      {% for article in blog.articles limit: section.settings.post_limit %}
        <div class="col col-six">
			<div class="blog-img">
              	<div class="desktop-blog-image">
                  {% if article.image %}
                    <a href="{{ article.url }}" class="article__grid-image">
                      {{ article | img_url: '680x' | img_tag: article.title }}
                    </a>
                  {% endif %}
             	 </div>
              	<div class="mobile-blog-image">
                  {% if article.image %}
                    <a href="{{ article.url }}" class="article__grid-image">
                      {{ article | img_url: '180x285', crop:'center' | img_tag: article.title }}
                    </a>
                  {% endif %}
             	 </div>	
			  <h2 class="blog-featured-heading alternative-heading">Featured</h2>
		  </div>
        </div>
      {% endfor %}
	   {% for article in blog.articles limit: section.settings.post_limit %}
	    <div class="col col-six">
		<div class="flex-container">
	   <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
           <!-- <h2 class="h3 article__title">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h2> -->

            {% if section.settings.blog_show_author %}
              <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}

            {% if section.settings.blog_show_date %}
              <span class="article__date">
                {{ article.published_at | time_tag: format: 'month_day_year' }}
              </span>
            {% endif %}

            <div class="rte article__grid-excerpt desktop-desc">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                {{ article.content | strip_html | truncate: 600 }}
              {% endif %}
            </div>
			<div class="mobile-desc">
         		{{ article.content | truncatewords: 18, " " }}	
         	</div>
         	{% comment %}
            {% if article.tags.size > 0 %}
              <div class="article__tags rte">
                {% for tag in article.tags %}
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endif %}
			{% endcomment %}
            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="{{ article.url }}" class="btn btn--secondary">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </li>

              {% if blog.comments_enabled? and article.comments_count > 0 %}
                <li>
                  <a href="{{ article.url }}#comments" class="btn btn--link">
                    {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
		 </div>
	  </div> 
	  {% endfor %}
    </div>
  {% else %}
    <div class="grid grid--uniform grid--blog">
      {% for i in (1..section.settings.post_limit) %}
        <div class="grid__item medium-up--one-third">
          <div class="article__grid-meta">
            <h2 class="h3 article__title">
              <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
            </h2>

            {% if section.settings.blog_show_author %}
              <span class="article__author">{{ 'homepage.onboarding.blog_author' | t }}</span>
            {% endif %}

            <div class="rte article__grid-excerpt">
              {{ 'homepage.onboarding.blog_excerpt' | t }}
            </div>

            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="{{ article.url }}" class="btn btn--secondary btn--small">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endunless %}

  {% if section.settings.show_view_all %}
    <hr class="hr--invisible"></hr>
    <div class="text-center">
      <a href="{{ blog.url }}" class="btn">
        {{ 'blogs.article.view_all' | t }}
      </a>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Blog posts",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "select",
        "id": "post_limit",
        "label": "Posts",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "12",
            "label": "12"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News",
          "post_limit": "3"
        }
      }
    ]
  }
{% endschema %}
