<div class="size-popup-container">
	<div class="size-popup">
		<a href="javascript:void(0);" class="close-size-popup"><img src="{{'size-popup-close.png' | asset_url }}" alt="Close" /></a>
		<h5 class="main-heading">NIMBLE ACTIVEWEAR SIZE GUIDE</h5>
		<div class="switch-tabs">
			<ul>
				<li><a href="#size">SIZE</a></li>
				<li><a href="#length">LENGTH</a></li>
				<li><a href="#conversion">CONVERSION</a></li>
				<li><a href="#measuring">MEASURING</a></li>
				<li><a href="#guidelines">GUIDELINES</a></li>
			</ul>
		</div>
		<div class="popup-content">
			<div id="size" class="switcher-class">
				<div class="switcher">
					<ul>
						<li><a href="#cm">Cm</a></li> /
						<li><a href="#inch">Inch</a></li>
					</ul>
				</div>
				<div id="cm" class="row clearfix size-cm-inches">
					<div class="col col-three">
						<div class="size-contents">
							<h5 class="inner-heading">SIZE</h5>
							<p>XXS</p>
							<p>XS</p>
							<p>S</p>
							<p>M</p>
							<p>L</p>
						</div>
					</div>
					<div class="col col-three">
						<div class="size-contents">
							<h5 class="inner-heading">BUST</h5>
							<p>79CM</p>
							<p>84CM</p>
							<p>89CM</p>
							<p>96CM</p>
							<p>99CM</p>
						</div>	
					</div>
					<div class="col col-three">
						<div class="size-contents">
							<h5 class="inner-heading">WAIST</h5>
							<p>59CM</p>
							<p>64CM</p>
							<p>69CM</p>
							<p>74CM</p>
							<p>79CM</p>
						</div>	
					</div>
					<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">HIP</h5>
								<p>83CM</p>
								<p>88CM</p>
								<p>93CM</p>
								<p>98CM</p>
								<p>103CM</p>
							</div>	
						</div>
				</div>
					<div id="inch" class="row clearfix size-cm-inches">
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">SIZE</h5>
								<p>XXS</p>
								<p>XS</p>
								<p>S</p>
								<p>M</p>
								<p>L</p>
							</div>
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">BUST</h5>
								<p>31.1"</p>
								<p>33.0"</p>
								<p>35.0"</p>
								<p>37.7"</p>
								<p>38.9"</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">WAIST</h5>
								<p>23.2"</p>
								<p>25.1"</p>
								<p>27.1"</p>
								<p>29.1"</p>
								<p>31.1"</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">HIP</h5>
								<p>32.6"</p>
								<p>34.6"</p>
								<p>36.6"</p>
								<p>38.5"</p>
								<p>40.5"</p>
							</div>	
						</div>
					</div>
			</div>
			<div id="conversion" class="switcher-class">
				<div class="conversion-container">
					<div class="row clearfix">
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">NIMBLE SIZE</h5>
								<p>XXS</p>
								<p>XS</p>
								<p>S</p>
								<p>M</p>
								<p>L</p>
							</div>
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">AUS/NZ/UK</h5>
								<p>6</p>
								<p>8</p>
								<p>10</p>
								<p>12</p>
								<p>14</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">US/CANADA </h5>
								<p>2</p>
								<p>4</p>
								<p>6</p>
								<p>8</p>
								<p>10</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">EUROPEAN</h5>
								<p>34</p>
								<p>36</p>
								<p>38</p>
								<p>40</p>
								<p>42</p>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div id="length" class="switcher-class">
				<div class="length-container">
					<div class="row clearfix">
						<div class="col col-three">
							<div class="size-contents">
								<img src="{{'three-four.jpg' | asset_url }}" alt="3/4" />
								<h5 class="length-heading">3/4</h5>
								<p>LEGGING INNER-LEG </p>
								<p>LENGTH: 45CM</p>
							</div>
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<img src="{{'cropped-7-8.jpg' | asset_url }}" alt="3/4" />
								<h5 class="length-heading">CROPPED 7/8</h5>
								<p>LEGGING INNER-LEG </p>
								<p>LENGTH: 54CM</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<img src="{{'seven-eight.jpg' | asset_url }}" alt="3/4" />
								<h5 class="length-heading"> 7/8</h5>
								<p>LEGGING INNER-LEG </p>
								<p>LENGTH: 58CM</p>
							</div>
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<img src="{{'long.jpg' | asset_url }}" alt="3/4" />
								<h5 class="length-heading">Long</h5>
								<p>LEGGING INNER-LEG </p>
								<p>LENGTH: 69CM</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="measuring" class="switcher-class">
				<div class="measure-container">
					<div class="row clearfix">
						<div class="col-elevan centered">
							<div class="size-contents">
								<div class="measure-img">
									<img src="{{'measure-img.jpg' | asset_url }}" alt="Measure" />
								</div>
								<div class="measure-content">
									<div class="measure-bust">
										<h5 class="length-heading">BUST</h5>
										<p>Measure around the fullest part of the bust and across the shoulder blades. The measuring tape should be flat but not too snug </p>
									</div>
									<div class="measure-waist">
										<h5 class="length-heading">WAIST</h5>
										<p>Your natural waistline is the narrowest area of the waist. To measure, relax your stomach and place the tape meaure flat around your waist.</p>
									</div>
									<div class="measure-hips">
										<h5 class="length-heading">HIPS</h5>
										<p>To achieve the most accurate hip measurement, stand with feet together and measure around the widest point of your hips - this is generally one to two inches lower than the hip bones where your bottom is at its fullest. </p>
									</div>
									<div class="measure-inseam">
										<h5 class="length-heading">INSEAM / INSEAM LEG</h5>
										<p>Measure from the top of insde leg at crotch to the ankle</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="guidelines" class="switcher-class">
				<div class="guidelines">
					<h5>LEGGINGS</h5>
					<ul class="guidelines-content">
						<li>If you are between sizes, we recommend that you size up for a more comfortable fit</li>
						<li>Nimble Activewear leggings have a compression fit. They are designed to hug your body so should feel snug but with room to move</li>
						<li>You know your leggins are too loose when: you have excess fabric bunching around the hips and crotch area</li>
						<li>You know your leggings are too tights when: the seams and/or waistband digs into you and they feel restrictive (like a tight bandage). Our fabric contains the perfect amount of lyrca to stretch with you however seams do not stretch so it is important that the seams are not overly restrictive.</li>
					</ul>
					<h5>SPORTS BRAS</h5>
					<ul class="guidelines-content">
						<li>If you are between sizes, we recommend that you size up for a more comfortable fit</li>
						<li>Nimble Activewear leggings have a compression fit. They are designed to hug your body so should feel snug but with room to move</li>
						<li>You know your leggins are too loose when: you have excess fabric bunching around the hips and crotch area</li>
						<li>You know your leggings are too tights when: the seams and/or waistband digs into you and they feel restrictive (like a tight bandage). Our fabric contains the perfect amount of lyrca to stretch with you however seams do not stretch so it is important that the seams are not overly restrictive.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div> 