	<div class="about-banner" style="background-image:url({{'size-guide-banner.jpg' | asset_url }});"></div>
	<div class="sizing-text-container">
		<div class="row clearfix">
			<div class="page-header">
				<h1 class="page-title">{{ page.title }}</h1>
			</div>
			<div class="col col-nine about-left-space">
				<div class="about-intro">
                  {{ page.content }}
				</div>
              	
              	<div class="mobile-about-intro">
					<p>
						ntro here about nimble Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. ntro here about nimble Lorem ipsum dolor sit amet.
                  </p>
              	</div> 
			</div>
		</div>
	</div>
	<div class="about-other-content page-size-guide">
		 <div class="pages-container"> 
			<div class="page-width">
              <ul class="sizing-categories-list switch-tabs">
                <li><a href="#size">size</a></li>
                <li><a href="#length">length</a></li>
                <li><a href="#conversion">conversion</a></li>
                <li><a href="#measuring">measuring</a></li>
                <li><a href="#guidelines">guidelines</a></li>
              </ul>
              <div class="size-guide-content">
              	<div id="size" class="switcher-class">
				<div class="switcher">
					<ul>
						<li><a href="#cm">Cm</a></li> /
						<li><a href="#inch">Inch</a></li>
					</ul>
				</div>
				<div class="size-box-container">
				<div id="cm" class="row clearfix size-cm-inches">
					<div class="col col-three">
						<div class="size-contents">
							<h5 class="inner-heading">SIZE</h5>
							<p>6/XXS</p>
							<p>8/XS</p>
							<p>10/S</p>
							<p>12/M</p>
							<p>14/L</p>
						</div>
					</div>
					<div class="col col-three">
						<div class="size-contents">
							<h5 class="inner-heading">BUST</h5>
							<p>79CM</p>
							<p>84CM</p>
							<p>89CM</p>
							<p>96CM</p>
							<p>99CM</p>
						</div>	
					</div>
					<div class="col col-three">
						<div class="size-contents">
							<h5 class="inner-heading">WAIST</h5>
							<p>59CM</p>
							<p>64CM</p>
							<p>69CM</p>
							<p>74CM</p>
							<p>79CM</p>
						</div>	
					</div>
					<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">HIP</h5>
								<p>83CM</p>
								<p>88CM</p>
								<p>93CM</p>
								<p>98CM</p>
								<p>103CM</p>
							</div>	
						</div>
				</div>
					<div id="inch" class="row clearfix size-cm-inches">
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">SIZE</h5>
								<p>6/XXS</p>
								<p>8/XS</p>
								<p>10/S</p>
								<p>12/M</p>
								<p>14/L</p>
							</div>
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">BUST</h5>
								<p>31.1024 INCH</p>
								<p>33.0709 INCH</p>
								<p>35.0394 INCH</p>
								<p>37.7953 INCH</p>
								<p>38.9764 INCH</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">WAIST</h5>
								<p>23.2283 INCH</p>
								<p>25.1969 INCH</p>
								<p>27.1654 INCH</p>
								<p>29.1339 INCH</p>
								<p>31.1024 INCH</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">HIP</h5>
								<p>32.6772 INCH</p>
								<p>34.6457 INCH</p>
								<p>36.6142 INCH</p>
								<p>38.5827 INCH</p>
								<p>40.5512 INCH</p>
							</div>	
						</div>
					</div>
				</div>	
			</div>
			<div id="conversion" class="switcher-class">
				<div class="conversion-container">
					<div class="row clearfix">
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">NIMBLE SIZE</h5>
								<p>6/XXS</p>
								<p>8/XS</p>
								<p>10/S</p>
								<p>12/M</p>
								<p>14/L</p>
							</div>
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">AUS/NZ/UK</h5>
								<p>6</p>
								<p>8</p>
								<p>10</p>
								<p>12</p>
								<p>14</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">US/CANADA </h5>
								<p>2</p>
								<p>4</p>
								<p>6</p>
								<p>8</p>
								<p>10</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<h5 class="inner-heading">EUROPEAN</h5>
								<p>34</p>
								<p>36</p>
								<p>38</p>
								<p>40</p>
								<p>42</p>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div id="length" class="switcher-class">
				<div class="length-container">
					<div class="row clearfix">
						<div class="col col-three">
							<div class="size-contents">
								<img src="{{'size-three-four.jpg' | asset_url }}" alt="3/4" />
								<h5 class="length-heading">3/4</h5>
								<p>LEGGING INNER-LEG </p>
								<p>LENGTH: 45CM</p>
							</div>
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<img src="{{'size-cropped-7-8.jpg' | asset_url }}" alt="3/4" />
								<h5 class="length-heading">CROPPED 7/8</h5>
								<p>LEGGING INNER-LEG </p>
								<p>LENGTH: 54CM</p>
							</div>	
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<img src="{{'size-seven-eight.jpg' | asset_url }}" alt="3/4" />
								<h5 class="length-heading"> 7/8</h5>
								<p>LEGGING INNER-LEG </p>
								<p>LENGTH: 58CM</p>
							</div>
						</div>
						<div class="col col-three">
							<div class="size-contents">
								<img src="{{'size-long.jpg' | asset_url }}" alt="3/4" />
								<h5 class="length-heading">Long</h5>
								<p>LEGGING INNER-LEG </p>
								<p>LENGTH: 69CM</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="measuring" class="switcher-class">
				<div class="measure-container">
						<h5 class="measure-main-head">HOW TO MEASURE</h5>
					<div class="row clearfix">
						<div class="col-twelve">
							<div class="size-contents">
								<div class="measure-img">
									<img src="{{'size-measure-img.jpg' | asset_url }}" alt="Measure" />
								</div>
								<div class="measure-content">
									<div class="measure-bust">
										<h5 class="length-heading">BUST</h5>
										<p>Measure around the fullest part of the bust and across the shoulder blades. The measuring tape should be flat but not too snug </p>
									</div>
									<div class="measure-waist">
										<h5 class="length-heading">WAIST</h5>
										<p>Your natural waistline is the narrowest area of the waist. To measure, relax your stomach and place the tape meaure flat around your waist.</p>
									</div>
									<div class="measure-hips">
										<h5 class="length-heading">HIPS</h5>
										<p>To achieve the most accurate hip measurement, stand with feet together and measure around the widest point of your hips - this is generally one to two inches lower than the hip bones where your bottom is at its fullest. </p>
									</div>
									<div class="measure-inseam">
										<h5 class="length-heading">INSEAM / INSEAM LEG</h5>
										<p>Measure from the top of insde leg at crotch to the ankle</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="guidelines" class="switcher-class">
				<div class="guidelines">
					<h5>LEGGINGS</h5>
					<ul class="guidelines-content">
						<li>If you are between sizes, we recommend that you size up for a more comfortable fit</li>
						<li>Nimble Activewear leggings have a compression fit. They are designed to hug your body so should feel snug but with room to move</li>
						<li>You know your leggins are too loose when: you have excess fabric bunching around the hips and crotch area</li>
						<li>You know your leggings are too tights when: the seams and/or waistband digs into you and they feel restrictive (like a tight bandage). Our fabric contains the perfect amount of lyrca to stretch with you however seams do not stretch so it is important that the seams are not overly restrictive.</li>
					</ul>
					<h5>SPORTS BRAS</h5>
					<ul class="guidelines-content">
						<li>If you are between sizes, we recommend that you size up for a more comfortable fit</li>
						<li>Nimble Activewear leggings have a compression fit. They are designed to hug your body so should feel snug but with room to move</li>
						<li>You know your leggins are too loose when: you have excess fabric bunching around the hips and crotch area</li>
						<li>You know your leggings are too tights when: the seams and/or waistband digs into you and they feel restrictive (like a tight bandage). Our fabric contains the perfect amount of lyrca to stretch with you however seams do not stretch so it is important that the seams are not overly restrictive.</li>
					</ul>
				</div>
			</div>
              </div>
			</div>
		</div>
</div>